*{
    font-family:aliceregular1, 'Times New Roman', Times, serif;
   
    line-height: 100%;
    
}

label{
    color:#a8b4f8;
}

div{
    overflow:visible;
    display: block;
    border:3px solid  rgb(40, 40, 219);
    width:100px;
    height:100px;
    border-radius: 50px;
    background:light rgb(40, 40, 219);
    padding:0px 2px;
    margin:0 auto;
    width:30%;
}

header{
    background:rgb(179, 214, 214);
    text-align: center;
    border:3px solid black;
}

@font-face {
    font-family: 'aliceregular1';
   
    src: local(Alice-Regular-webfont),
    url('./fonts/Alice-Regular-webfont.woff') format('woff');
      
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
}
input{
    background: #e8e5e8;
    font-variant:small-caps;
}
label{
   
    font-variant:small-caps;
}

select{
    background: #e8e5e8;
}
p2, span{
     background: #eebfee;

}

textarea{
    background: #a8d8e6;
}



