span{
    background-color:rgb(197, 231, 231);
 
  
   
    letter-spacing: 5px;
    
    border:2px solid black;
    padding:12px 3px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
   
    border:2px solid red;
    margin:12px 20px;
    margin:33px 33px;
    font-family: 'Dancing Script', cursive;
    font-weight:200px;
    font-size:20px;
    letter-spacing: 2px;
    line-height:150%;
    
  

    
}
h1{
    text-align:center;
    width:30%;
    margin:10px auto;
    border:2px solid black;
    padding:12px 3px;
    background-color: rgb(150, 211, 238);

}

div{
    
    border-radius: 10%;
    background-color: #b6c498;
  
   
    border:2px solid black;
    padding:12px 3px;
   float:left;
    width:30%;
    height:40%;
    clear:right;
    display:table-cell;
    text-align: center;
    text-align:justify;
    visibility: visible;
}
#div1{
position: fixed;
top: 100px;
left:150px;
z-index:0;

}

/* #sp1{
    display: block ;

} */


p{
    background-color:#a8deb3;
   
    border:2px solid black;
    padding:12px 3px;
    clear:both;
}